---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

// Essa função gera as rotas estáticas para cada post no build time
export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

const post = Astro.props;
const { Content } = await post.render(); // Renderiza o MDX para HTML
---

<BaseLayout title={post.data.title} description={post.data.description}>
  <article class="max-w-3xl mx-auto py-12">

    <header class="mb-12 border-b-3 border-brutal-black pb-8">
      <div class="flex gap-2 mb-4">
        {post.data.tags.map((tag) => (
           <span class="bg-brutal-purple text-white font-bold px-2 py-1 text-sm uppercase shadow-hard-sm border-2 border-brutal-black">
             {tag}
           </span>
        ))}
      </div>
      <h1 class="font-display text-5xl md:text-6xl font-black leading-tight mb-4">
        {post.data.title}
      </h1>
      <div class="font-mono font-bold text-gray-500">
        Publicado em {post.data.pubDate.toLocaleDateString('pt-BR', { dateStyle: 'long' })}
      </div>
    </header>

    <div class="prose prose-xl prose-neutral prose-headings:font-display prose-headings:font-black prose-a:text-brutal-blue hover:prose-a:bg-brutal-yellow prose-img:border-3 prose-img:border-brutal-black prose-img:shadow-hard max-w-none font-sans">
      <Content />
    </div>

  </article>
</BaseLayout>
