---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroScene from "../components/3d/HeroScene"; // Importe o componente
---

<BaseLayout title="Matheus | Full-Stack">
    <section
        class="grid grid-cols-1 lg:grid-cols-2 gap-8 border-b-3 border-brutal-black"
    >
        <div class="p-8 flex flex-col justify-center space-y-6">
            <h1
                class="font-display text-6xl lg:text-8xl font-black leading-none uppercase"
            >
                Code is <br />
                <span class="text-brutal-purple">Poetry</span>
            </h1>
            <p class="text-xl font-medium max-w-md">
                Full-Stack Developer, Linux Enthusiast & Retro Gamer.
            </p>
        </div>

        <div
            class="border-l-0 lg:border-l-3 border-brutal-black h-[500px] bg-gray-50 relative"
        >
            <HeroScene client:load />

            <div
                class="absolute bottom-4 right-4 bg-white border-2 border-brutal-black px-2 py-1 text-xs font-bold shadow-hard-sm"
            >
                DRAG ME
            </div>
        </div>
    </section>
</BaseLayout>
